<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="sever-09.database.windows.net" value="packtdbserver"/>
    <add key="gurusink@outlook.com" value="dbadmin"/>
    <add key="database" value="toystore"/>
    <add key="password1!" value="Awesome@1234"/>
    
      
  </appSettings>
</configuration>
